body {
    background-image: url(./back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.torzs {
    width: 1000px;
    height: 1000px;
    margin: auto;
}

header {
    background-image: url(./panorama.jpg);
    background-repeat: no-repeat;
    min-width: 650px;
    max-width: 1000px;
    background-size: cover;
    height: 150px;
}

h1 {
    color: rgb(51, 44, 44);
    padding-top: 35px;
    padding-left: 20px;
}

.alcim {
    margin-top: 20px;
}

.bal {
    float: left;
    text-align: center;
    background-color: #5b9cea;
    padding-bottom: 1px;
}

.jobb {
    text-align: center;
    background-color: #5b9cea;
    margin-left: 510px;
    padding-bottom: 2px;
}

h2 {
    text-align: left;
    padding-top: 45px;
    padding-bottom: 20px;
}

.h21 {
    margin-top: 0px;
    margin-bottom: 5px;
    padding-left: 20px;
  }

.h22 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 25px;
}

.baltabla {
    border: 1px;
    border-style: solid;
    border-collapse: collapse;
    background-color: #B0D1F1;
    margin-right: 20px;
    margin-left: 20px;
    width: 450px;
    margin-top: -4px;
}

.jobbtabla {
    border: 1px;
    border-style: solid;
    border-collapse: collapse;
    background-color: #B0D1F1;
    margin-right: auto;
    margin-left: auto;
    width: 450px;
}

th {
    line-height: 1.3;
    padding: 3px;
}

td {
    text-align: center;
    border: 1px;
    border-style: solid;
}

.elso {
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.masodik {
    text-align: left;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 3px;
}

.forras {
    text-align: left;
    padding-left: 27px;
}
